.featured{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2rem;
 padding-bottom: 2rem;
 .featured-items{
     width: 100%;
     max-width: 80%;
     height: 20rem;
     position: relative;
     display:flex;
     justify-content: center;
     align-items: center;
     .featured-image{
         width: 100%;
         height: 100%;

     }
     .featured-title{
         position:absolute;
         bottom: 1rem;
         left: 1rem;
         color: #fff;
         background-color: rgba(0, 0, 0, 0.274);
         padding: .2rem;
         h1{
             font-size: 1.2rem;
         }

     }

 }
}